@media only screen and (min-width : 320px) and (max-width : 600px) {

    .template-name {
        width: 80%;
    }

    .template-name .newNameInput {
        width: 70%;
    }

    .template-details {
        font-size: 1em;
    }

    .template .edit-block {
        width: 20%;
    }


    .sub-edit-block {
        width: auto !important;
        float: right;
    }


    .template-details.edit button.salary, .template-details.edit button.prepaid {
        width: 48%;
        height: 2em;
        margin: 0 1em 0 0;
        font-size: 1.5em;
        margin-left: 0.2em;
    }

    .template-details.edit button.cash, .template-details.edit button.card {
        width: 5em;
        height: 3em;
        vertical-align: sub;
        background-size: 100%;
        margin-left: 0.3em;
    }

    .sub-edit-block button.edit {
        position: absolute;
        top: -.8em;
        right: -.5em;
        border: none;
        width: 3em;
        height: 3em;
        background-size: 100% 100%;
        /*width: 40%;*/
        /*height: 3em;*/
    }
    .sub-edit-block .save {
        position: absolute !important;
        top: -.9em !important;
        right: -.7em !important;
    }
    .sub-edit-block .delete {
        position: absolute !important;
        bottom: -.6em !important;
        right: -.4em !important;
    }
    .sub-edit-block .delete.min {
        position: absolute !important;
        bottom: -.4em !important;
        right: -.2em !important;
    }
    .sub-edit-block .notice {
        position: absolute !important;
        top: -1.2em !important;
        right: -1em !important;
    }
    /*  MONTH start  */

    .month-item {
        width: 96%;
    }

    .name-buttons button.has-notice-button {
        width: 2.8em;
        height: 2.8em;
    }
    .name-buttons button.plus-button{
        width: 2.8em;
        height: 2.8em;
        margin-left: .8em;
        float: right;
    }

    /*.month-item .deposited {*/
        /*font-size: 1em;*/
    /*}*/
    .month-item .deposited {
        width: 28%;
        /* font-size: 1.2em; */
        position: absolute;
        top: 50%;
        left: 36%;
        transform: translateY(-50%);
    }

    .month-item .deposited input {
        font-size: 1.4em;
        vertical-align: middle;
    }
    .modal-plus-content .plusAmountInput{
        width: 3em;
        float: left;
        font-size: .68em;
        padding: 0.2em;
        border-radius: 0.1em;
    }
    .month-item .deposited.edit input {
        margin: 0 !important;
        font-size: 1.3em;
    }

    .month-item .buttons {
        width: 36%;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translateY(-50%);
        float: left;
    }
    .month-item .buttons.edit {
        float: none !important;
        padding-left: 2% !important;
    }
    .month-item button.salary, .month-item button.prepaid {
        width: 48%;
        font-size: 1.3em;
        height: 2.8em;
        margin: 0 .2em 0 .3em;
        padding: 0 !important;
        /* vertical-align: bottom; */
    }

    /*.month-amount {*/
        /*font-size: 0.8em !important;*/
    /*}*/

    .buttons.edit button.salary, .buttons.edit button.prepaid {
        width: 3.2em !important;
    }

    /*.month-item button.cash, .month-item button.card {*/
        /*width: 25%;*/
        /*font-size: 1.1em;*/
        /*!* height: 2.5em; *!*/
        /*margin: 0;*/
    /*}*/

    .buttons.edit button.save,
    .buttons.edit button.delete{
        width: 2.8em;
        height: 2.8em;
        margin-left: 1em;
    }

    .modal-content.new-template input {
        width: 80%;
    }

    .modal-content .save-button{
        margin-right: .4em;
    }

    .total-amount {
        width: 90%;
    }
    .salary-block, .prepaid-block {
        width: 100%;
        padding: 0 !important;
    }
    .prepaid-block {
        width: 100% !important;
        margin-bottom: 1em;
    }

    .modal-plus-content {
        /*top: .3em;*/
        /* opacity: .9; */
        left: -3.5em;
    }
    .modal-plus-content input {
        font-size: 1em !important;
        width: 5em !important;
    }
    .modal-plus-content button{
        /*padding: 0 .7em;*/
        padding: .45em 1em;
        opacity: 1;
    }

    .modal-plus-content .fill {
        min-width: 2.5em !important;
    }
}
