@media only screen and (min-width : 320px) and (max-width : 600px) {

    .template-name {
        width: 70%;
    }

    .template-details {
        font-size: 1em;
    }

    .template .edit-block {
        width: 30%;
    }

    .template-list {
        padding: 1em 0 0 0;
    }

    .template-list-item {
        height: 2.9em;
        margin-bottom: 0.5em;
    }

    .template-list-item .edit-block{
        width: 20%;
        float: right;
        display: block;
    }

    .template-list-item .edit-block button{
        width: 100%;
        height: 1.3em;
        border-radius: 0;
        margin-bottom: 4%;
    }

    .template-list-item .spend-name {
        width: 80%;
        float: none;
        display: block;
        text-align: center;
        border-bottom: solid #2793ba 2px;
    }

    .template-list-item input {
        font-size: 1.6em;
        width: 2.8em;
        margin-left: 0.1em;
        margin-top: 0.3em;
    }

    .template-details.edit button.salary, .template-details.edit button.prepaid {
        font-size: 1.5em;
        margin-left: 0.2em;
    }

    .template-details.edit button.cash, .template-details.edit button.card {
        width: 5em;
        height: 3em;
        vertical-align: sub;
        background-size: 100%;
        margin-left: 0.3em;
    }

    /*  MONTH start  */

    .month-item {
        display: table;
        width: 96%;
        height: 100%;
        border-radius: 0.1em;
        min-height: 2.3em;
        line-height: 1em;
        /*padding: 0.5em 0.1em 0 0.1em !important;*/
    }

    .month-item .name {
        font-size: 1.1em;
        height: auto;
        line-height: 1.5em;
        padding: 0.2em 0;
    }

    .month-item .deposited {
        width: 34%;
        font-size: 1em;
        line-height: 2em;
    }
    .month-item .deposited.edit {
        width: 22%;
        font-size: 1.1em;
    }

    .month-item .deposited input {
        margin-right: 0.2em;
        font-size: 1.2em;
        width: 51%;
        vertical-align: middle;
    }
    .month-item .deposited.edit input {
        margin: 0 !important;
        width: 80%;
    }

    .month-item .buttons {
        /*border: solid slateblue 1px;*/
        padding: 0 !important;
        width: 36%;
    }
    .month-item .buttons.edit {
        width: 45%;
        float: right;
    }
    .month-item button.salary, .month-item button.prepaid {
        width: 33%;
        font-size: 1.1em;
        height: 2em;
        margin: 0 0.7em 0 0.3em;
        padding: 0 !important;
        vertical-align: bottom;
    }

    .month-amount {
        margin-left: 0.1em;
        font-size: 0.8em;
    }

    .buttons.edit button.salary, .buttons.edit button.prepaid {
        width: 3.5em !important;
    }

    .month-item button.cash, .month-item button.card {
        width: 25%;
        font-size: 1.1em;
        /* height: 2.5em; */
        margin: 0;
    }

    .month-item button.notice {
        margin-top: 0.4em;
        margin-left: 0;
        width: 2.8em;
        height: 2.8em;
        display: block;
        float: right;
        /* border-right: solid #fff 2px; */
        /* border-bottom: solid #fff 2px; */
        border-top: none;
        border-left: none;
        border-radius: 0.2em;
        /* box-shadow: 1px 1px #b3b3b3, 2px 2px #b3b3b3, 3px 3px #b3b3b3; */
        /*margin-top: 0.4em;*/
        /*width: 2.8em;*/
        /*height: 2.8em;*/
        /*display: block;*/
        /*float: right;*/

        /*border-right: solid #2793ba 1px;*/
        /*border-bottom: solid #2793ba 1px;*/
        /*border-top: none;*/
        /*border-left: none;*/
        /*border-radius: 0.1em;*/
        /*box-shadow: 1px 1px #2793ba, 2px 2px #2793ba, 3px 3px #2793ba;*/
    }
    .month-item button.notice:hover {
        border: 2px outset #999999;
        border-right: 0;
        border-bottom: 0;
        /*border: solid #2793ba 1px;*/
        /*box-shadow: inset 2px 2px 2px 2px rgba(	21, 81, 102, 0.5);*/
        /*box-shadow: 0 0 #2793ba, 1px 1px #2793ba, 2px 2px #2793ba;*/
    }

    .buttons.edit button.save,
    .buttons.edit button.delete{
        width: 2.8em;
        height: 2.8em;
        margin-left: 1em;
    }

    .modal-content.new-template input {
        width: 80%;
    }

    .modal-content .save-button{
        margin-right: .4em;
    }

    .total-amount {
        height: 5em;
        width: 100%;
        margin-bottom: 1em;
    }
    .salary-block, .prepaid-block {
        width: 48%;
        float: left;
        padding: 0 !important;
    }
    .prepaid-block {
        width: 52% !important;
    }

}
