<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Online-budget 2.0</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/mobile.css" />

    <link rel="stylesheet" type="text/css" href="/css/noty.css" />
    <link rel="stylesheet" type="text/css" href="/css/themes/metroui.css" />

    <link rel="stylesheet" type="text/css" href="/css/pickadate.css" />
    <link rel="stylesheet" type="text/css" href="/css/pickadate.date.css" />

    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>-->

    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.touch-punch.min.js" ></script>
    <script type="text/javascript" src="/js/jquery.touchSwipe.js"></script>

    <script type="text/javascript" src="/js/picker.js"></script>
    <script type="text/javascript" src="/js/picker.date.js"></script>

    <script type="text/javascript" src="/js/noty.min.js"></script>

</head>