<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <th:block th:include="_head"></th:block>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <meta name="viewport" content="initial-scale=0.7, maximum-scale=0.7">
<body>
    <th:block sec:authorize="isAnonymous()">
        <div class="login">
            Required login with
            <a href="/login">
                <blue>G</blue><red>o</red><yellow>o</yellow><blue>g</blue><green>l</green><red>e</red>
            </a>
        </div>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <div v-if="exceptionsArr.length > 0" id="exceptions"></div>
        <div v-if="warningsArr.length > 0" id="warnings"></div>

        <div id="upper-menu">
            <div class="link">
                <a id="upper-menu-templates" href="#">Шаблоны</a>
                <a id="upper-menu-month" href="#">Текущий</a>
                <a id="upper-menu-allMonths" href="#">Все месяцы</a>
                <a id="upper-menu-spends" href="#">Расходы</a>
            </div>
        </div>


        <div id="month"></div>
        <div id="allMonths"></div>
        <div id="templates-list"></div>
        <div id="spends"></div>

        <script type="text/javascript" src="/js/month-script.js"></script>
        <script type="text/javascript" src="/js/month-script-vue-components.js"></script>
        <script type="text/javascript" src="/js/all-months-script.js"></script>
        <script type="text/javascript" src="/js/templates-script.js"></script>
        <script type="text/javascript" src="/js/spends-script.js"></script>
        <script type="text/javascript" src="/js/warnings-script.js"></script>

        <script th:inline="javascript">

            Vue.use(VueTouch, {name: 'v-touch'});
            VueTouch.config.swipe = {
                direction: 'horizontal'
            };

            let exc = new Vue({ //exc.e.push({test1 : 'test one'})
                el: '#exceptions',
                data: {
                    exceptionsArr: []
                },
                computed: {
                    e: {
                        get: function () {
                            return this.exceptionsArr
                        },
                        set: function (newValue) {
                            this.exceptionsArr.push(newValue);
                        }
                    }
                }
            });

            $( document ).ready(function() {
                // warningsCheck();
                if (localStorage.page === 'TL'){
                    showTemplatesList();
                } else if (localStorage.page === 'AM') {
                    showAllMonths();
                } else if (localStorage.page === 'SL') {
                    showSpendsList();
                } else {
                    showLastMonth();
                }

                $('#upper-menu-templates').click(function () {
                    localStorage.page = 'TL';
                    showTemplatesList();
                });

                $('#upper-menu-month').click(function () {
                    localStorage.page = 'LM';
                    showLastMonth();
                });
                $('#upper-menu-allMonths').click(function () {
                    localStorage.page = 'AM';
                    showAllMonths();
                });
                $('#upper-menu-spends').click(function () {
                    localStorage.page = 'SL';
                    showSpendsList();
                });

            })
        </script>
        <script th:inline="javascript">
            axios.get('/notices/reminds')
                .then(result => {
                    result.data.forEach(remind => {
                        let text = remind.text.length > 1 ? remind.text : 'Ошибка. Нет текста.';
                        let spendName = remind.spendName.length > 1 ? remind.spendName : '';
                        let date = remind.date.length > 1 ? remind.date : '';
                        let creationDate = remind.creationDate.length > 1 ? remind.creationDate : '';
                        let n = new Noty({
                            type: 'success',
                            theme: 'metroui',
                            text: '<div class="modal-remind">'
                                        + '<div class="remind-spend-name">Прикреплено к:<br /><span>' + spendName + '</span></div>'
                                        + '<div class="remind-date">Для месяца:<br /><span>' + date + '</span></div>'
                                        + '<p class="remind-text">' + text + '</p>'
                                        + '<div class="remind-creation-date">Создано: ' + creationDate + '</div>'
                                + '</div>',
                            // timeout: 7000,
                            buttons: [
                                Noty.button(' ', 'button-mute', function () {
                                    console.log(remind);
                                    axios.post('/notices/muteNotice/' + remind.noticeId)
                                        .then(() => n.close())
                                        .catch(error => alert(error))
                                })
                            ]
                        }).show();
                    })
            })
                .catch(error => alert(error))
        </script>

    </th:block>
</body>
</html>
